@keyframes cambiarFondo{
    from{
        background-color: #5D737E;
    }
    to{
        background-color: #000046;
    }
}

body{
    align-self: center;
    animation-name: cambiarFondo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-container{
    margin-left: 16rem;
    background-color: #080680;
    align-items: center;
    width: 60%;
    border-radius: 30px;
}
img{
    border-radius: 50%;
}

.style_prevu_kit{
    display:inline-block;
    margin: 1rem;
    border:0;
    border-radius: 10px;
    width: 210px;
    height: 290px;
    position: relative;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1);
}

.style_prevu_kit:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1.5);
} 
.regresar{
    border-radius: 20px;
    width: 38%;
    margin-left: 15rem;
    background-color: rgb(226, 12, 226);
    text-align: center;
}

.regresar:hover{
    background-color: rgb(248, 8, 8);
}

.img1{
    border-radius: 20px;
}
.main-containergato{
    margin-left: 14rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom: 2rem;
    background-color: #080680;
    align-items: center;
    width: 65%;
    border-radius: 30px;
}
.contenedorgato{
    width: 42%;
    display:inline-block;
}
.main-containeranime{
    background-color: #27108a;
    margin-left: 14rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom: 2rem;
    width: 65%;
    border-radius: 30px;
}
.contenedoranime{
    margin: 1rem;
    width: 45%;
    display:inline-block;
}