body{
    background-color: #033F63;
    color: white;
}
div{
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 4rem;
}
.regresar{
    background-color: #28666E;
    border-radius: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 30%;
    height: 30px;
}
.regresar:hover{
    box-shadow: 0px 0px 15px #ffffff;
    background-color: #7C9885;
}

